.footer {
  margin-top: 5px;
  background-color: #f8f8f8;
  padding: 12px 10px;
  text-align: center;
  font-family: sans-serif;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 12px;
}

.footer-logo img {
  width: 40px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.footer-logo p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.footer-links li {
  font-size: 14px;
  color: #9a3b3b;
  cursor: pointer;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 12px 0;
}

.footer-icons-container img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.footer-icons-container img:hover {
  transform: scale(1.08);
}

.footer-icons-container {
  padding: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  color: #1a1a1a;
  font-size: 14px;
  margin-bottom: 0;
  padding-top: 12px;
  border: none;
  border-top: 1px solid #ddd;
}

.footer-copyright hr {
  width: 60px;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #c7c7c7;
  margin-bottom: 3px;
}
